#container{
    height:200px;
    width: 300px;
    background-color: rgb(255, 230, 0);
    position: relative;
}

.box{
    box-sizing: border-box;
    background-color: rgb(92, 167, 228);
}

.first , .third{
    height: 80px;
    width: 80px;
}

.third{
    position: absolute;
    bottom: 0px;
}

.second, .fourth{
    height: 80px;
    width:170px;
    position: absolute;
}

.second{
    top: 0px;
    right:0px;
}

.fourth{
    bottom: 0px;
    right: 0px;
}