*{
    padding: 0px;
    margin:0px;
}

body{
    height: 100vh;
    background-color: rgb(213, 217, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.box{
    width: 350px;
    background-color: white;
    padding: 60px;
    border-radius: 10px;
}


h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(46, 46, 73);
    
}

label{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}


input{
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 5px;

}

button{
    width: 100%; 
    height: 40px;
    font-size: 20px;
    padding: 3px; 
    background-color: rgb(174, 174, 201); 
    color: white; font-weight: 600;
    cursor: pointer;
}