*{
    padding: 0px;
    margin:0px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.brown{
    background-color: brown;
}

.white{
    background-color: #fff;
}