*{
    padding: 10px;
    /* margin: 10px; */
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(19, 8, 19);
    
    gap: 10px;
    

}

.Box{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
}

.sidebar{
    grid-row-start: 1;
    grid-row-end: 4;
}

.header{
    grid-column-start: 2;
    grid-column-end: 4;
}
.Content1{
    background-color: red;
}

.Content2{
    background-color: orange;
}

.Content3{
    background-color: red;
}

.Content4{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
}

.Content5{
    background-color: red;
}

.Content6{
    background-color: orange;
}