*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: black;
}

.container{
    background-color: rgb(24, 4, 8);
    display: flex;
    padding: 5px;
    gap: 5px;
}

.box{
    height: 300px;
    width: 200px;
}

.first{
    background-color: rgb(230, 164, 24);
}

.second{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.child{
    height: 140px;
    background-color: red;
}