*{
    margin:0px;
    padding: 0px;
}

.container{
    height: 400px;
    width: 400px;
    font-size: 50px;
    background-color: aqua;
}

/* @media screen and (max-width: 600px){
    .container{
        height: 300px;
        width: 300px;
        background-color: #8a6767;
        font-size: 30px;
    }
} */

/* @media screen and (min-width: 800px) {
    .container{
        background-color: orange;
        font-size: 60px;
    }
} */

@media screen and (min-width: 900px) {
    .container{
        background-color: green;
        font
    }
}