h1{
    background-color: orange;
    height: 150px;
    width: 300px;

    /* border-width: 5px;
    border-style: solid;
    border-color: green; */

    /* border: 10px solid green;
    padding:10px;
    margin: 30px; */

    border: 10px solid black;
    /* padding: 10px 20px 30px 40px; */
    padding: 20px 40px;

    margin: 50px 20px 30px 40px;
    border-radius: 20px;
}

h2{
    background-color: darkgrey;
    border: 2px solid blueviolet;
}

p{
    background-color: aquamarine;
    padding: 15px;
    border: 5px solid slategray;
    margin:5px;
}