*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    perspective: 800px;
}

.box{
    height: 150px;
    width: 150px;
    background-color: orange;
    cursor: pointer;
    /* transform: translate(200px, 300px); */
    /* transform: rotate(30deg); */
    /* transform: skewY(30deg); */
    /* transform: skewX(30deg); */
    /* transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in; */
    /* transition-delay: 2s; */
    border-radius: 50%;
    transition: all 3s;
    animation: moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moving {
    fromt{
        transform: rotate(0deg);
    }to{
        transform: rotateX(360deg);
    }
}

.box:hover{
    /* background-color: #fff;
    width: 300px;
    height: 300px;
    border-radius: 5px; */
    /* transform: rotateX(90deg) */
}